DB_NAME=example_db
DB_USER=example_user   
DB_PASS=pass
DB_PORT=5432
DB_HOST=localhost
ENV=development 
REDIS_PORT=6379
REDIS_PASS=netflix_pass
REDIS_HOST=localhost
ADMIN_EMAIL=admin@admin.com.br
ADMIN_PASSWORD=Mudar@123
