API_DB_NAME=api_db
API_DB_USER=api_user
API_DB_PASS=api_pass
API_DB_PORT=5435

HISTORY_DB_NAME=history_db
HISTORY_DB_USER=history_user
HISTORY_DB_PASS=history_pass
HISTORY_DB_PORT=5436

RECOMMENDATION_DB_NAME=recommendation_db
RECOMMENDATION_DB_USER=recommendation_user
RECOMMENDATION_DB_PASS=recommendation_pass
RECOMMENDATION_DB_PORT=5437

REDIS_PORT=6379
REDIS_PASS=netflix_pass
REDIS_HOST=localhost

API_PORT=8080
HISTORY_MS_PORT=8080
RECOMMENDATION_MS_PORT=8080
