DB_NAME=example_db
DB_USER=example_user
DB_PASS=example_pass
DB_PORT=5432
DB_HOST=localhost

S3_REGION=us-east-1
S3_ACCESS_KEY_ID=access_key
S3_SECRET_ACCESS_KEY=secret_key
S3_ENDPOINT_URL=http://localhost:9100
S3_BUCKET_NAME=netflix-content
